<p style="color: green"><%= notice %></p>

<h1>Countries</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">


       <% @countries.each do |city| %>
                      <div class="col">
                                               <%=link_to city do%>
                                                                                      <div class="card">
                                                                                        <%=city.name%>
                                                                                                                                                                                  </div>
                                                                                                                                                                                                                     <%end%>
                                                                                                                                                                                                                                  </div>
                                                                                                                                                                                                                                                 <% end %>
                                                                                                                                                                                                                                                  </div>

<%= link_to "New country", new_country_path %>
